@model FirstWebApp.ViewModels.ManufacturersViewModel
@{
    ViewBag.Title = "Manufacturers";
}

<div class="row">
    <h2>Manufacturers</h2>
    <p/>
    @if (Model.Manufacturers.Count == 0)
    {
        <text>There is no any manufacturer.</text>
    }
    else
    {
        <table class=“table table-bordered table-hover”>
            <tr>
                <th>Manufacturer</th>
            </tr>
            @foreach (var manufacturer in Model.Manufacturers)
            {
                <tr>
                    <th>@Html.ActionLink(@manufacturer.Name, "ManufactureDetails", "Manufacturer", new { id = manufacturer.Id }, null)</th>
                </tr>
            }
        </table>
    }
   
</div>

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@
