@model FirstWebApp.Models.Manufacturer
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
@if (!Model.IsCompany)
{
    if (Model.BirtdayDate.HasValue)
    {
    <li>@Model.BirtdayDate.Value.Date</li>
    }
    else
    {
        <p>Date of Birth was not provided.</p>
    }
}

