@model IEnumerable<FirstWebApp.Models.Vine>

@{
    ViewBag.Title = "Vines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@if (!Model.Any())
{
    <p>We don't have any vines yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Vine</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vine in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@vine.Name, "Details", "Vine", new { id = vine.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}